:root {
--color-primary: #373737;
--color-secondary:#59C378;
--color-accent: #FFE600;
--color-body: white;
}

html {
font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 1.7rem;
}
h1, h2, h3{
    color: var(--color-body);
}
p{
    margin: 1.5rem 1rem;
}
.nav-bar{
    display: grid;
    width:100vw;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30fr 40fr 30fr;
    grid-template-rows:85px;
    position: fixed;
}

/*CSS BANNER */

.banner{
    width:100fr;
    background: url(../images/bg.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 90vh;
    box-sizing: border-box;
}
.menu_logo{
    visibility: hidden;
    width: 1rem;
}
.menu {
display: flex;
justify-content: center;
visibility: visible;
list-style-type: none;
}
li {
width: 10rem;
font-size: 1.5rem;;
font-weight: 500;
}
.button {
    background: var(--color-secondary);
    border: none;
    color: var(--color-body);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 17rem;
    height: 4.1rem;
    font-size: 1.9rem;
    font-weight: 00;
    border-radius: 20px;
    }
.hero {
display: flex;
flex-direction: row;
align-items:center;
height: 90vh;
}
.left-hero{
    margin-left: 60px;
    text-align: left;
}
.left-hero-align{
    margin-top: 12rem;
}    
.right-hero-align{
    margin-top: 16rem;
}  
.hello {
font-size: 5.3rem;
font-weight: 600;
color:var(--color-accent)
}
.myName {
font-size: 8rem;
font-weight: 700;
}
.career {
font-size: 3.2rem;
font-weight: 600;
color:var(--color-secondary)
}
.banner-text{
    font-size: 1.7rem;
}
.hire-me-btn{
    margin-top: 3rem;
}
.picture1{
width: 80rem;
}

.skills-container{
    width:100fr;
    background: url(../images/bg-purple.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 90vh;
    box-sizing: border-box;
}
.skills-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80fr;   
    width: 100fr;
}
.skills{
    width:50vw;
    height: 40vw;
    text-align: left;
    margin-top: 8rem;
}
.experience{
    width:52rem;
}
.experience2{
    width:55rem;
}
.experience-mobile{
    visibility: hidden;
}
.advantage{
font-size: 5rem;
margin-bottom: 3rem;
}
.adv-text{
    width: 50rem;
}
.exp-div{
    margin-left: 60px;
}
.work-experience{
    width:100fr;
    background: url(../images/third-bg.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 170vh;
    box-sizing: border-box;
    margin-top: -5rem;
}
.xperience-title{
    width:70rem;
    padding-top: 4rem;
}

.xperience-title, .xperience-list-desktop{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.xperiece-head{
    font-size: 5rem;
}
.xperience-list-mobile{
    display:none;
}
.xperience-list-desktop{
    margin-top: 5rem;
}
.desktop{
    width: 100rem;
    margin-bottom: 2rem;
}
.contact-us{
    width:100fr;
    background: url(../images/bg.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 110vh;
    box-sizing: border-box;
    margin-top: -5rem;
}
a{
    color:white;
}




@media screen and (max-width: 900px){
  .banner{
    background: url(../images/mobilebg.png);
  }
  .skills-container{
    background: url(../images/purple-bg-update.png);
    height: 140rem;
    width: 100fr;
  }
  .work-experience{
    background: url(../images/third-bg-mobile.png);
    height: 120rem;
    width: 100fr;
}
  
    .hero{
        margin-top: -3rem;;
    }
    .nav-bar{
        grid-template-columns: 30vw 40vw 30vw;
        margin-top: 3rem;
    }
    .nav-button{
    grid-column: 3/3;
    }
    
    .menu_logo{
        visibility: hidden;
        width: 40px;
    }
    
    .menu {
        visibility: hidden;
    }
    .button {
        width: 10.5rem;
        height: 4rem;
        font-size: 1.35rem;
        
    }
    .hero {
        display: flex;
        flex-direction: column;
        height: 92vh;
        align-items: center;
    }
    .left-hero-align{
        margin-top: 12rem;
        margin-right: 60px;
        text-align: center;
    }  
    .right-hero-align{
        margin-top: 1rem;
    }  
    .hello {
        margin-top: 0.5rem;
        font-size: 2.6rem;
        font-weight: 600;
        color:var(--color-accent)
    }
    .myName {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 3.8rem;
        font-weight: 700;
    }
    .career {
        font-size: 2.3rem;
        font-weight: 600;
        color:var(--color-secondary)
    }
    .picture1{
        width: 60rem;
    }
    .skills-flex{
        display:flex;
        flex-direction: column;
        align-items:center;
        padding-top: 10rem;
        text-align: center;


    }
    .skills{
        width:100vw;
        height: 40vw;
        text-align: center;
        margin-top: 8rem;
}
.skills-left{
    margin-top: 27rem;
}
.experience{
    width:35rem;
}
.experience2{
    display: none;
}
.experience-mobile{
    visibility:visible;
    width:40rem;
}
.advantage{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 15rem;
    }
    .adv-text{
        width: 30rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:40rem
    }
    .xperience-title{
        width:70vw;
        padding-top: 7rem;
    }
    .xperience-title, .xperience-list-mobile{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .xperiece-head{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    .xperience-list-desktop{
        display:none;
}
.xperience-list-mobile{
    display:flex;
    flex-direction: column;

}
.mobile-div{
    height:17rem;
}
.mobile{
    width: 40rem;
}
}





    